<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.occiware.clouddesigner.occi2ecore.contribution1"
            nameFilter="*.occie"
            objectClass="org.eclipse.core.resources.IFile">
          <menu
                id="org.occiware.clouddesigner.menu"
                label="Cloud Designer"
                path="additionsCloudDesigner">
             <separator
                   name="group">
             </separator>
             </menu>
         <action
               class="org.occiware.clouddesigner.occi.emfgen.ui.popup.actions.ConvertAction"
               enablesFor="1"
               id="org.occiware.clouddesigner.occi2ecore.newAction"
               label="Generate EMF Tooling"
               menubarPath="org.occiware.clouddesigner.menu/group">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.occiware.clouddesigner.occi2ecore.contribution2"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
          <menu
                id="org.occiware.clouddesigner.menu"
                label="Cloud Designer"
                path="additionsCloudDesigner">
             <separator
                   name="group">
             </separator>
             </menu>
         <action
               class="org.occiware.clouddesigner.occi.emfgen.ui.popup.actions.GenerateDesignAction"
               enablesFor="1"
               id="org.occiware.clouddesigner.occi2ecore.generateAction"
               label="Generate Sirius Design"
               menubarPath="org.occiware.clouddesigner.menu/group">
         </action>
      </objectContribution>
   </extension>
</plugin>
