<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
Copyright (c) 2015-2016 Obeo, Inria
 
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
- William Piers <william.piers@obeo.fr>
- Philippe Merle <philippe.merle@inria.fr>
-->
<plugin>

   <!-- Popup menu for generating EMF Tooling. -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.occiware.clouddesigner.occi2ecore.contribution1"
            nameFilter="*.occie"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.occiware.clouddesigner.menu"
               label="Cloud Designer"
               path="additionsCloudDesigner">
            <separator
                  name="group"/>
         </menu>
         <action
               class="org.occiware.clouddesigner.occi.emfgen.ui.popup.actions.ConvertAction"
               enablesFor="1"
               id="org.occiware.clouddesigner.occi2ecore.newAction"
               label="Generate EMF Tooling"
               menubarPath="org.occiware.clouddesigner.menu/group">
         </action>
      </objectContribution>
   </extension>

   <!-- Popup menu for generating Sirius Designer. -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.occiware.clouddesigner.occi2ecore.contribution2"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.occiware.clouddesigner.menu"
               label="Cloud Designer"
               path="additionsCloudDesigner">
            <separator
                  name="group"/>
         </menu>
         <action
               class="org.occiware.clouddesigner.occi.emfgen.ui.popup.actions.GenerateDesignAction"
               enablesFor="1"
               id="org.occiware.clouddesigner.occi2ecore.generateAction"
               label="Generate Sirius Design"
               menubarPath="org.occiware.clouddesigner.menu/group">
         </action>
      </objectContribution>
   </extension>

</plugin>
