/.ModelTool.java._trace
/.Test.java._trace
/.ModelTool.xtendbin
/.Test.xtendbin
/ModelTool.java
/Test.java
/.CodeGenerator.java._trace
/.DMEMFModel.java._trace
/.ModelToolEx.java._trace
/CodeGenerator.java
/DMEMFModel.java
/ModelToolEx.java
/.ResourceDifferencesEngine.java._trace
/.ModelHandler.java._trace
/.FixedProximityEObjectMatcher.java._trace
/.DockerMachineManager.java._trace
/ModelHandler.java
