<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Docker -->
      <package
            uri="http://schemas.ogf.org/occi/docker"
            class="org.occiware.clouddesigner.occi.docker.DockerPackage"
            genModel="model/Docker.genmodel"/>
   </extension>

</plugin>
