<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.factory_override">
      <factory class="org.occiware.clouddesigner.occi.cloud.connector.ExecutableCloudFactory"
            uri="http://occiware.org/occi/cloud/ecore">
      </factory>
   </extension>
</plugin>