<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.occiware.clouddesigner.occi.design.Activator"
               id="org.occiware.clouddesigner.occi.design"
	       name="OCCI Designer">
    </component>
  </extension>
    <extension point="org.eclipse.ui.newWizards">
      <category
        id = "org.occiware.clouddesigner"
	    name="Cloud Designer">
      </category>
      <wizard
            class="org.occiware.clouddesigner.occi.design.wizard.NewExtensionWizard"
            icon="images/ModelingProject.gif"
            id="org.occiware.clouddesigner.occi.design.wizard.NewExtensionWizard"
            name="OCCI Extension Project"
            category="org.occiware.clouddesigner"
            project="true">
         <description>Create a new Modeling project to specify an OCCI Extension.</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
     <wizard
            category="org.occiware.clouddesigner"
            class="org.occiware.clouddesigner.occi.design.wizard.NewConfigurationWizard"
            icon="images/Configuration.gif"
            id="org.occiware.clouddesigner.occi.design.wizard.NewConfigurationWizard"
            name="OCCI Configuration File">
      </wizard>
   </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="org.occiware.clouddesigner.occi.design.contribution.occie"
             nameFilter="*.occie"
             objectClass="org.eclipse.core.resources.IFile">
          <menu
                id="org.occiware.clouddesigner.occi.design.menu"
                label="Cloud Designer"
                path="additionsCloudDesigner">
             <separator
                   name="group">
             </separator>
          </menu>
          <action
                class="org.occiware.clouddesigner.occi.design.popup.actions.RegisterExtensionAction"
                enablesFor="1"
                id="org.occiware.clouddesigner.occi.design.registerExtensionAction"
                label="RegisterExtension"
                menubarPath="org.occiware.clouddesigner.occi.design.menu/group">
          </action>
       </objectContribution>
    </extension>
</plugin>
