<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.occiware.clouddesigner.occi.examples.example">
      <example
            aird="representations.aird"
            description="A sample OCCI Monitoring project."
            name="OCCI Monitoring Example"
            projectName="MonitoringExample"
            screenshot="My.jpg"
            semantic="My.monitoring"/>
   </extension> 
</plugin>
