<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.factory_override">
      <factory class="org.occiware.clouddesigner.occi.cloud.connector.ExecutableCloudFactory"
            uri="http://occiware.org/cloud">
      </factory>
   </extension>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.occiware.clouddesigner.occi.cloud.design.Activator"
               id="org.occiware.clouddesigner.occi.cloud.design"
	       name="cloud">
    </component>
  </extension>
    <extension point="org.eclipse.ui.newWizards">
      <category
        id = "org.occiware.clouddesigner"
      name="Cloud Designer">
      </category>
     <wizard
            category="org.occiware.clouddesigner"
            class="org.occiware.clouddesigner.occi.cloud.design.wizard.NewConfigurationWizard"
            icon="images/Configuration.gif"
            id="org.occiware.clouddesigner.occi.cloud.design.wizard.NewConfigurationWizard"
            name="Cloud Configuration File">
      </wizard>
   </extension>
</plugin>
