<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2015-2016 Obeo, Inria
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
 - William Piers <william.piers@obeo.fr>
 - Philippe Merle <philippe.merle@inria.fr>
-->
<plugin>

   <!-- Register the linkeddata extension. -->
   <extension point="org.occiware.clouddesigner.occi.occie">
      <occie scheme="http://occiware.org/linkeddata#" file="model/linkeddata.occie"/>
   </extension>

   <!-- Define URI mapping. -->
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="http://occiware.org/linkeddata" target="platform:/plugin/org.occiware.clouddesigner.occi.linkeddata/model/linkeddata.occie"/>
   </extension>

   <!-- Register the parser for .linkeddata files. -->
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="linkeddata" class="org.occiware.clouddesigner.occi.util.OCCIResourceFactoryImpl"/>
   </extension>

   <!-- Popup menu for converting to an OCCI Configuration file. -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.occiware.clouddesigner.occi.linkeddata.contribution"
            nameFilter="*.linkeddata"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.occiware.clouddesigner.menu"
               label="Cloud Designer"
               path="additionsCloudDesigner">
            <separator name="group"/>
         </menu>
         <action
               class="org.occiware.clouddesigner.occi.emfgen.ui.popup.actions.Ecore2OCCIAction"
               enablesFor="1"
               id="org.occiware.clouddesigner.occi.linkeddata.ecore2occi"
               label="Convert to an OCCI Configuration File"
               menubarPath="org.occiware.clouddesigner.menu/group">
         </action>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated linkeddata -->
      <package
            uri="http://occiware.org/linkeddata/ecore"
            class="org.occiware.clouddesigner.occi.linkeddata.LinkeddataPackage"/>
   </extension>

</plugin>
