/.DockerMachineManage.java._trace
/.DockerMachineManager.java._trace
/.Provider.java._trace
/DockerMachineManager.java
/Provider.java
/.DockerObserver.java._trace
/.DockerContainerManager.java._trace
/DockerContainerManager.java
