<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ecore"
            id="org.occiware.clouddesigner.occi2ecore.gen.design.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.occiware.clouddesigner.occi2ecore.gen.design.ui.popupMenus.AcceleoGenerateDesignAction"
               enablesFor="+"
               id="org.occiware.clouddesigner.occi2ecore.gen.design.ui.popupMenus.acceleoGenerateDesignAction"
               icon="icons/default.gif"
               label="Generate Design"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
