<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OCCI -->
      <package
            uri="http://schemas.ogf.org/occi"
            class="org.occiware.clouddesigner.OCCI.OCCIPackage"
            genModel="model/OCCI.genmodel"/>
   </extension>

</plugin>
