<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2016 Inria
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
 - Philippe Merle <philippe.merle@inria.fr>
-->
<plugin>

   <!-- Register the monitoring extension. -->
   <extension point="org.occiware.clouddesigner.occi.occie">
      <occie scheme="http://schemas.ogf.org/occi/monitoring#" file="model/monitoring.occie"/>
   </extension>

   <!-- Define URI mapping. -->
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="http://schemas.ogf.org/occi/monitoring" target="platform:/plugin/org.occiware.clouddesigner.occi.monitoring/model/monitoring.occie"/>
   </extension>

   <!-- Register the parser for .monitoring files. -->
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="monitoring" class="org.occiware.clouddesigner.occi.util.OCCIResourceFactoryImpl"/>
   </extension>

   <!-- Popup menu for converting to an OCCI Configuration file. -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.occiware.clouddesigner.occi.monitoring.contribution"
            nameFilter="*.monitoring"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.occiware.clouddesigner.menu"
               label="Cloud Designer"
               path="additionsCloudDesigner">
            <separator name="group"/>
         </menu>
         <action
               class="org.occiware.clouddesigner.occi.emfgen.ui.popup.actions.Ecore2OCCIAction"
               enablesFor="1"
               id="org.occiware.clouddesigner.occi.monitoring.ecore2occi"
               label="Convert to an OCCI Configuration File"
               menubarPath="org.occiware.clouddesigner.menu/group">
         </action>
      </objectContribution>
   </extension>
</plugin>
