<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Docker Preferences"
            class="org.occiware.clouddesigner.occi.docker.preference.preferences.DockerPreference"
            id="org.occiware.clouddesigner.occi.docker.preference.preferences.DockerPreference">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.occiware.clouddesigner.occi.docker.preference.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
