/jclouds-1.8.1-jar-with-dependencies.jar
/openstack-cinder-1.8.1.jar
/openstack-common-1.8.1.jar
/openstack-keystone-1.8.1.jar
/openstack-nova-1.8.1.jar
/openstack-trove-1.8.1.jar
/rocoto-6.2.jar
/swift-1.8.1.jar
