<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.occiware.clouddesigner.occi.examples.example">
      <example
            aird="representations.aird"
            description="A sample OCCI Infrastructure project."
            name="OCCI Infrastructure Example"
            projectName="InfrastructureExample"
            screenshot="My.jpg"
            semantic="My.Infrastructure"/>
   </extension> 
</plugin>
