<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.factory_override">
      <factory class="org.occiware.clouddesigner.occi.docker.connector.ExecutableDockerFactory"
            uri="http://occiware.org/occi/docker/ecore">
      </factory>
   </extension>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.occiware.clouddesigner.occi.docker.design.Activator"
               id="org.occiware.clouddesigner.occi.docker.design"
	       name="docker">
    </component>
  </extension>
    <extension point="org.eclipse.ui.newWizards">
      <category
        id = "org.occiware.clouddesigner"
	    name="Cloud Designer">
      </category>
     <wizard
            category="org.occiware.clouddesigner"
            class="org.occiware.clouddesigner.occi.docker.design.wizard.NewConfigurationWizard"
            icon="images/Configuration.gif"
            id="org.occiware.clouddesigner.occi.docker.design.wizard.NewConfigurationWizard"
            name="Docker Configuration File">
      </wizard>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.occiware.clouddesigner.occi.docker.design.contribution"
            nameFilter="*.docker"
            objectClass="org.eclipse.core.resources.IFile">
          <menu
                id="org.occiware.clouddesigner.menu"
                label="Cloud Designer"
                path="additionsCloudDesigner">
             <separator
                   name="group">
             </separator>
             </menu>
         <action
               class="org.occiware.clouddesigner.occi.emfgen.ui.popup.actions.Ecore2OCCIAction"
               enablesFor="1"
               id="org.occiware.clouddesigner.occi.docker.ecore2occi"
               label="Convert to standard OCCI Configuration File"
               menubarPath="org.occiware.clouddesigner.menu/group">
         </action>
      </objectContribution>
   </extension>
</plugin>
