<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
Copyright (c) 2016 ???
 
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
- ???
-->
<plugin>

   <!-- Register Simulation Ecore metamodel. -->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Simulation -->
      <package
            uri="http://occiware.org/simulation/ecore"
            class="org.occiware.clouddesigner.occi.simulation.SimulationPackage"
            genModel="model/Simulation.genmodel"/>
   </extension>

   <!-- Register the parser for .simulation files. -->
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="simulation"
            class="org.occiware.clouddesigner.occi.util.OCCIResourceFactoryImpl"/>
   </extension>

   <!-- Define URI mapping. -->
	<extension point="org.eclipse.emf.ecore.uri_mapping" >
      <mapping source="http://occiware.org/simulation" target="platform:/plugin/org.occiware.clouddesigner.occi.simulation/model/Simulation.occie"/>
   </extension>

   <!-- Register the Simulation extension. -->
   <extension point="org.occiware.clouddesigner.occi.occie">
      <occie
            scheme="http://occiware.org/simulation#"
            file="model/Simulation.occie"/>
   </extension>

</plugin>
