<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.occiware.clouddesigner.occi.simulation.design.Activator"
               id="org.occiware.clouddesigner.occi.simulation.design"
	       name="Simulation">
    </component>
  </extension>
   <!-- Popup menu for creating a Simulation configuration file. -->
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.occiware.clouddesigner.category.ID"
            name="Cloud Designer"/>
      <wizard
            category="org.occiware.clouddesigner.category.ID"
            class="org.occiware.clouddesigner.occi.simulation.design.wizard.NewConfigurationWizard"
            icon="platform:/plugin/org.occiware.clouddesigner.occi.edit/icons/full/obj16/Configuration.gif"
            id="org.occiware.clouddesigner.occi.simulation.design.wizard.NewConfigurationWizard"
            name="Simulation Configuration File"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.occiware.clouddesigner.occi.simulation.cloudsim.handlers.Parser"
            uri="http://occiware.org/simulation">
      </factory>
   </extension>
</plugin>
