<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.occiware.clouddesigner.occi.occie">
      <occie
            file="model/ProActive-Cloud-Automation.occie"
            scheme="http://proactive.ow2.org#">
      </occie>
   </extension>
</plugin>
