<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>


<!--
Copyright (c) 2015-2016 Inria
 
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
- Philippe Merle <philippe.merle@inria.fr>
-->

<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.occiware.clouddesigner.occi.connector.jocci.Activator"
               id="org.occiware.clouddesigner.occi.connector.jocci"
	           name="jocci">
    </component>
  </extension>
  <extension point="org.eclipse.ui.newWizards">
    <category
        id = "org.occiware.clouddesigner"
	    name="Cloud Designer">
    </category>
    <wizard
            category="org.occiware.clouddesigner"
            class="org.occiware.clouddesigner.occi.connector.jocci.wizards.NewConfigurationWizard"
            icon="platform:/plugin/org.occiware.clouddesigner.occi.design/images/Configuration.gif"
            id="org.occiware.clouddesigner.occi.connector.jocci.wizard.NewConfigurationWizard"
            name="OCCI Configuration File with jOCCI connector">
     </wizard>
   </extension>
 </plugin>
